{{ define "main" }}
  
  {{/* Titre de la série */}}
  <h2 style="margin-bottom: 20px; text-transform: uppercase; font-size: 14px; color: #666; letter-spacing: 1px;">{{ .Title }}</h2>

  {{/* Boucle sur les images du dossier */}}
  {{ range .Resources.ByType "image" }}
    
    {{/* 1. Grand Format : 2000px, Qualité 90%, Filtre Lanczos (netteté max) */}}
    {{ $large := .Resize "2000x jpg q90 Lanczos" }}
    
    {{/* 2. Affichage sur la page : 500px (format retina-ready), Qualité 85% */}}
    {{ $display := .Resize "500x jpg q85 Lanczos" }}

    <a href="{{ $large.RelPermalink }}" 
       data-pswp-width="{{ $large.Width }}" 
       data-pswp-height="{{ $large.Height }}" 
       target="_blank">
      
      <img src="{{ $display.RelPermalink }}" 
           alt="{{ .Name }}" 
           loading="lazy"  />
    </a>

  {{ end }}

  {{ .Content }}
{{ end }}
